* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
body {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: center;
  height: 48px;
  margin-top: 40px;
}
.navbar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}
.navbar div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar div:last-child p:nth-child(2) {
  border: 1px solid #ccced2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.navbar div:last-child p:nth-child(2) img {
  position: relative;
  left: 4px;
  top: 4px;
  height: 40px;
  width: 40px;
}
.navbar div:last-child p:nth-child(3) img {
  width: 12px;
  height: 10px;
}
.navbar div:last-child p:last-child img {
  position: relative;
  width: 40px;
  height: 40px;
  left: -8px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.board {
  background-color: #fff;
  padding: 40px;
  width: 800px;
  height: 672px;
  box-shadow: 1px 1px 1px 1px #13073414;
}

.main:last-child {
  position: relative;
  top: 0;
}
.board-c1 {
  background-color: #fff;
  padding: 40px 40px 1px 40px;
  width: 800px;
  height: 186px;
  box-shadow: 1px 1px 1px 1px #13073414;
}

.my-tasks {
  display: flex;
  justify-content: space-between;
}
.my-tasks div:first-child p:first-child {
  color: #ff5f26;
}
.my-tasks div:first-child p:nth-child(2) {
  font-size: 24px;
}
.my-tasks div:first-child p:last-child {
  color: #7a7f83;
}

p {
  margin: 0;
}
.sb {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sb div:first-child {
  margin-top: 15px;
}
.sb div:first-child p {
  color: #7a7f83;
}

.my-tasks button {
  position: relative;
  right: -8px;
  background-color: #ff5f26;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 15px 12px 18px;
  border-radius: 60px;
  border-style: none;
}
.my-tasks button > img {
  position: relative;
  top: 5px;
}

/* img {
  position: relative;
  left: -8px;
  top: 4px;
} */
.sb button {
  padding: 10px 12px 10px 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #ff5f26;
  height: 44px;
  width: 136px;
  border: 1px solid #ff5f26;
  border-radius: 50px;
}
.sb img {
  position: relative;
  top: 0px;
  left: 0;
  width: 24px;
  height: 24px;
}

.main-chck {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.main-chck div:first-child {
  display: flex;
  align-items: center;
  gap: 0px;
}
.main-chck label > input[type="checkbox"] {
  display: none;
}
.main-chck label > input[type="checkbox"] + span {
  background-color: #ffff;
  border: 1px solid #ccced2;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50px;
  margin: 0 14px 0 0;
}
.main-chck label > input[type="checkbox"]:checked + span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #ff5f26;
  border-radius: 50%;
  position: relative;
}

.main-chck label > input[type="checkbox"]:checked + span::after {
  content: "✓";
  color: #fff;
  position: relative;
  right: -7px;
  width: 28px;
  height: 28px;
  transform: translate(-50% -50%);
  background-size: contain;
}



.b-grey {
  color: #7a7f83;
  border: 1px solid #ccced2;
}
.d-team {
  color: #7a7f83;
  margin-top: 8px;
}
.main-chck div:nth-child(2) img {
  width: 24px;
  height: 24px;
}
/* .main-chck div:first-child div:last-child div:last-child{
color: #7a7f83;
margin-top: 8px;
} */
.tanggal {
  display: inline;
  padding: 8px 10px 8px 10px;
  text-align: center;
  border: 1px solid #ff5f26;
  border-style: none;
  border-radius: 50px;
  margin-left: 16px;
  font-size: 14px;
  background-color: #ffebd3;
  color: #ff5f26;
}
.subtask {
  margin-top: 10px;
  height: 224px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
}
.subtask div {
  display: flex;
  justify-content: space-between;
}
.subtask-b{
  font-size: 14px;
    padding: 6px 6px 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #ff5f26;
  height: 30px;
  width: 50px;
  gap: 6px;
  border: 1px solid #ff5f26;
  border-radius: 50px;
}
.options {
  background-color: #fff;
  top: 360px;
  padding: 24px;
  width: 189px;
  height: 108px;
  border: 1px solid #ccced2;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}
.options div {
  margin-top: 12px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.options img {
  width: 24px;
  height: 24px;
  top: 0;
}

.options p {
  font-size: 20px;
}

.promp {
  display: flex;
  justify-content: center;
}
.promp > div {
  width: 800px;
}

.option-short {
  background-color: #fff;
  position: relative;
  z-index: 1;
  height: 144px;
  width: 300px;
  border: 1px solid #ccced2;
  border-radius: 8px;
  right: -450px;
  top: -169px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-short div {
  display: flex;
  justify-content: space-between;
}
.option-short input {
  accent-color: #ff5f26;
  width: 20px;
}
footer {
  width: 100%;
  bottom: 40px;
}

@media (max-width: 426px) {
  .navbar div:last-child p:nth-child(3) {
    display: none;
  }
  .navbar div:first-child {
    margin-left: 20px;
  }
  .navbar div:last-child p:last-child img {
    width: 30px;
    height: 30px;
  }
  .navbar div:last-child p:first-child {
    position: relative;
    right: -2px;
  }
  .board {
    padding: 10px;
    height: 800px;
  }
  .board-c1 {
    padding: 10px;
  }

  .my-tasks:first-child p {
    margin-top: 5px;
  }
  .my-tasks div:first-child {
    width: 160px;
  }
  .my-tasks div:first-child p:last-child {
    font-size: 12px;
  }
  .my-tasks div:nth-child(2) button {
    width: 110px;
    font-size: 10px;
    padding: 5px 8px 5px 12px;
  }
  .my-tasks div:nth-child(2) img {
    width: 10px;
    height: 10px;
    position: relative;
    top: 1px;
  }
  .sb {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sb div:first-child p {
    position: relative;
    top: -5px;
  }
  .sb div:nth-child(2) button {
    width: 100px;
    height: 20px;
    font-size: 10px;
  }
  .sb div:nth-child(2) img {
    width: 8px;
    height: 8px;
    position: relative;
    top: 1px;
  }
  .main-chck {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .main-chck div:first-child {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .main-chck label > input[type="checkbox"] {
    display: none;
  }
  .main-chck label > input[type="checkbox"]:checked + span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ff5f26;
    border-radius: 50%;
    position: relative;
  }

  .main-chck label > input[type="checkbox"]:checked + span::after {
    content: "✓";
    color: #fff;
    position: relative;
    top: -2px;
    right: -2px;
    width: 15px;
    height: 15px;
    transform: translate(-50% -50%);
    background-size: contain;
  }

  .main-chck label > input[type="checkbox"] + span {
    background-color: #ffff;
    border: 1px solid #ccced2;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
    margin: 0 14px 0 0;
  }

  .tanggal {
    font-size: 10px;
  }
  .tanggal:last-child {
    display: inline-block;
    position: relative;
    left: -15px;
    padding: 8px 10px 8px 10px;
    text-align: center;
    border: 1px solid #ff5f26;
    border-style: none;
    border-radius: 50px;
    margin-left: 16px;
    font-size: 10px;
    background-color: #ffebd3;
    color: #ff5f26;
  }
  .options {
    background-color: #fff;
    top: 360px;
    padding: 12px;
    width: 140px;
    height: 60px;
    border: 1px solid #ccced2;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
  }
  .options div {
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .options img {
    width: 12px;
    height: 12px;
    top: 0;
  }

  .options p {
    font-size: 10px;
  }
  .option-short {
    background-color: #fff;
    position: relative;
    z-index: 1;
    height: 70px;
    width: 150px;
    border: 1px solid #ccced2;
    border-radius: 8px;
    right: -110px;
    top: -160px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .option-short div {
    display: flex;
    justify-content: space-between;
  }
  .option-short input {
    accent-color: #ff5f26;
    width: 10px;
  }
  .option-short label {
    font-size: 10px;
  }
  .board-c1{
    height: 150px;
  }
}
